@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Montserrat;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  margin-bottom: 100px;
}

.header {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F9F6F1;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.header__link-item:hover {
  color: black;
}

.header__link-list a + a {
  margin-left: 35px;
}

.header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__basket-info {
  margin-left: 22.5px;
  background: #D7B399;
  width: 33px;
  padding-top: 2.001px;
  padding-bottom: 2px;
  text-align: center;
  position: relative;
}

.header__basket-info > span {
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  line-height: 15px;
}

.header__logo {
  margin-right: 30px;
}

.header__basket-link {
  margin-right: 8px;
}

.header__busket-bg {
  position: relative;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__busket-bg::before {
  content: '';
  position: absolute;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  border: 9.5px solid transparent;
  border-right: 13px solid #D7B399;
}

.main__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__filters div + div {
  margin-left: 35px;
}

.dropbtn, .dropbtn1, .dropbtn2, .dropbtn3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

.dropbtn::after, .dropbtn1::after, .dropbtn2::after, .dropbtn3::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border: 5px solid transparent;
  border-top: 5px solid #212121;
  right: -10px;
  top: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown3 {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  min-height: 100px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2, .dropdown-content3, .dropdown-content4, .dropdown-content5, .dropdown-content6 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content5 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content6 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown-content3 a:hover {
  background-color: #ddd;
}

.dropdown-content4 a:hover {
  background-color: #ddd;
}

.dropdown-content5 a:hover {
  background-color: #ddd;
}

.dropdown-content6 a:hover {
  background-color: #ddd;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
  display: block;
}

.show2 {
  display: block;
}

.show3 {
  display: block;
}

.show4 {
  display: block;
}

.show5 {
  display: block;
}

.show6 {
  display: block;
}

.main {
  padding-top: 100px;
  background: #F9F6F1;
  padding-bottom: 70px;
}

.swiper__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper__info-box {
  margin-top: 32px;
}

.swiper__descr {
  margin-bottom: 45px;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.02em;
  color: #000000;
}

.swiper__title {
  margin-bottom: 62px;
  font-weight: bold;
  font-size: 48px;
  line-height: 67px;
  letter-spacing: 0.04em;
  color: #000000;
}

.swiper__btn-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 17px 30px;
  background: #D7B399;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.swiper__btn-link:hover {
  background-color: #ce821e;
}

.swiper__img {
  position: relative;
  z-index: 5;
  margin-bottom: 130px;
}

.swiper__img-info {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 40px;
}

.swiper__img-item {
  position: relative;
}

.swiper__img-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 14px;
}

.swiper__img-title {
  font-weight: bold;
  font-size: 42px;
  line-height: 51px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #D84033;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #F9F6F1;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 7px;
  border-radius: 0;
  background: #CECECE;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #D7B399;
}

.info {
  min-height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121;
}

.info__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 23px;
}

.info__title > span {
  font-weight: normal;
}

.info__descr {
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.col {
  width: 100%;
}

.col__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col__man, .col__woman {
  width: 50%;
  min-height: 250px;
}

.col__man {
  background: #F9F6F1;
}

.col__man-img {
  padding-top: 19px;
  margin-right: 15px;
}

.col__man-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 60px;
}

.col__man-info {
  margin-left: auto;
  margin-right: 19px;
}

.col__man-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 25px;
}

.col__man-title > span {
  font-weight: normal;
}

.col__man-descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 55px;
}

.col__woman {
  background: #F4F4F4;
}

.col__woman-img {
  padding-top: 19px;
}

.col__woman-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 60px;
}

.col__woman-info {
  margin-right: 19px;
  margin-left: 35px;
}

.col__woman-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.col__woman-title > span {
  font-weight: normal;
}

.col__woman-descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 55px;
}

.man__btn-link,
.woman__btn-link {
  padding: 10px 40px;
  border: 1px solid #FFFFFF;
  background: #D7B399;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.man__btn-link:hover,
.woman__btn-link:hover {
  background-color: #ce821e;
}

.catalog {
  margin-bottom: 150px;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__box {
  position: relative;
  z-index: 4;
}

.catalog__box > span {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  margin-left: 30px;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #000000;
}

.new {
  margin-bottom: 150px;
}

.new__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
}

.new__box {
  text-align: center;
  padding: 22px 25px 10px;
  position: relative;
  cursor: pointer;
}

.new__box-item {
  margin-bottom: 25px;
}

.new__box-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 15px;
}

.new__box-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #D7B399;
}

.new__btn {
  text-align: center;
}

.new__btn-link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 18px 64px 17px 34px;
  background: #D7B399;
  position: relative;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.new__btn-link::after {
  content: '';
  margin-left: 9px;
  width: 20px;
  height: 8px;
  top: 22px;
  background-image: url(../img/Arrow2.svg);
  background-repeat: no-repeat;
  position: absolute;
}

.new__btn-link:hover {
  background-color: #ce821e;
}

.new__box-bg::before {
  display: block;
  content: '';
  position: absolute;
  border: 3px solid #D7B399;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 2;
}

.new__box-bg::after {
  display: block;
  content: '';
  position: absolute;
  border: 3px solid #D7B399;
  border-left-color: transparent;
  border-bottom-color: transparent;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  z-index: 2;
}

.new__box::before {
  display: block;
  content: '';
  position: absolute;
  border: 3px solid #D7B399;
  border-right-color: transparent;
  border-top-color: transparent;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.new__box::after {
  display: block;
  content: '';
  position: absolute;
  border: 3px solid #D7B399;
  border-left-color: transparent;
  border-top-color: transparent;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 180px;
  background: #212121;
  margin-bottom: 150px;
}

.subscribe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__info {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-right: 60px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  padding: 13px 15px 12px 20px;
  font-family: Montserrat;
  width: 255px;
  margin-right: 30px;
}

.subscribe__btn-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 35px;
  background: #D7B399;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.subscribe__btn-link:hover {
  background-color: #ce821e;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 311px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 692px;
}

.footer__info {
  max-width: 201px;
  margin-right: 184px;
}

.footer__info-text {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer__logo {
  margin-bottom: 32px;
}

.footer__list-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.footer__list li + li {
  margin-top: 10px;
}

.footer__list-link {
  font-size: 14px;
  line-height: 22px;
  color: #CBCFD4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.footer__list-link:hover {
  color: #FFFFFF;
}

.icon {
  fill: #D7B399;
  margin-right: 5px;
}

.vk {
  width: 19px;
  height: 10px;
}

.vk:hover {
  fill: #4388ED;
}

.facebook {
  width: 14px;
  height: 15px;
}

.facebook:hover {
  fill: #4867AA;
}

.instagram {
  width: 14px;
  height: 15px;
}

.instagram:hover {
  fill: #f09433;
}

.end {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.end__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  font-size: 14px;
  line-height: 22px;
  color: #212121;
}

.burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
